textarea {
    resize: vertical;
  }

  .switch{
    position: relative;
    display: inline-block;
    width: 38px;
    height: 15px;
    margin: 0 10px;
  }

  .slider{
    position:absolute;
    cursor: pointer;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius:40px;
  }
  .switch input{
    display: none;
  }
  .slider:before{
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    border-radius: 50px;
    background-color: white;
    transition: 0.4s;

  }
  input:checked +.slider{
    background-color: blue;
  }
  input:checked +.slider:before{
    transform: translateX(22px);
  }
 .decrement{
    display: flex;
    justify-content:space-around;
    align-items: center;
    justify-items: center;
    margin-top: 40px;
    border: 1px solid black;
    height: 10px;
    width: 80px;
    border-radius: 10px;
    background: #f5eded;
  }

  .decrement span{
    width: 25px;
    font-size: 25px;
    font-weight: 400px;
    
  }

  .decrement span .num{
    font-size: 30px;
    border-right: 2px solid rgba(0, 0, 0, .2);
    border-left: 2px solid rgba(0, 0, 0, .2);
    border: 1px solid black;
  }
  .decrement span .minus{
    align-self: flex-end;
    border-right: 1px solid black;
  }
  .input-1{
    margin-top: 2px;
    margin-left: 20px;
    height: 30px;
    width: 40%;
    outline: none;
    border: none;
  }
  

  .ons-input{
    border: 1px solid black;
    height: 40px;
    width: 40%;
    border-radius: 5px;
  }
  .ons-input input{
  
    width: 200px;
    margin-left: 4px;
    border: none;
  }
  button{

    position: end;
    height: 40px;
    width: 100px;
    border: 1px solid rgb(87, 86, 86);
    border-radius: 10px;
  }
  #site{
    width: 39%;

  }
body{
    margin: 10px;
    padding: 20px;
}

.check{
    width: 40%;
    height: 25px;
}
select{
    width: 40%;
    height: 25px;
}
body > div{
    margin: 10px;
    padding: 10PX;
}